<!--accounts/templates/registration/login.html-->
{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Login</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'System_Post:password_reset' %}" class="text-sm text-teal-500 hover:underline ml-auto"> Esqueceu a senha? </a>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'register' %}">Não tem conta? Registre-se</a>
            </div>

            {% if form.errors %}
                <div class="alert alert-danger mt-6">
                    {% for filed, erros in form.errors.items %}
                        <strong>{{ field|title }}:</strong>
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
    