<!-- django_auth/accounts/templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel = "stylesheet" href="{% static 'css/style.css' %}">
    <title>System Post</title>
</head>
<body>
    <section class="hero is-small is-info mb-4">
        <div class="hero-body">
            <h1 class="title is-1">System Post</h1>
            <p class="subtitle is-4">
                Um site melhor</p>
        </div>
    </section>
    <div class="container">
        <div class="tabs is-centered mb-4">
            <ul>
                <li {% if request.path == '/' %}class="is-active"{% endif %}>
                    <a href="{% url 'System_Post:dashboard' %}">Home</a>
                </li>
                <li {% if '/profile/' in request.path %}class="is-active"{% endif %}>
                    <a href="{% url 'System_Post:profile' request.user.profile.pk[0] %}">Perfil</a>
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="button is-link is-light" type="submit">Sair</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    © {{ year }} System Post. Todos os direitos reservados.
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
