{% extends 'base.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block content %}
<div class="container">
    <table class="table" id="my-table">
        <thead>
            <tr>
                <th> ID </th>
                <th> Odd </th>
                <th> Hora da Odd </th>
                <th> Apostadores </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascript %}
    <script>
        function loadTableData() {
            $ajax({
                type: "GET",
                url: 'System_Post:my_url',
                success: function(data) {
                    $("#my-table tbody").empty();

                    for (var i = data.length - 1; i >= 0; i--) {
                    var row = data[i];
                        var $row = $("<tr></tr>");
                        $("<td></td>").text(row.id).appendTo($row);
                        $("<td></td>").text(row.odd).appendTo($row);
                        $("<td></td>").text(row.hora_criacao).appendTo($row);
                        $("<td></td>").text(row.apostadores).appendTo($row);
                        $row.prependTo("#my-table tbody");
                    } 
                }
            });
        }

        loadTableData();
        setInterval(loadTableData, 3000);

        console.log('LoadTableData() foi chamada pelo setInterval!');
    </script>
{% endblock %}