{% extends 'base.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% block content %}
    <h1> Tabela Principal </h1>
    <table>
        <thread>
            <tr>
                <th> ID </th>
                <th> Odd </th>
                <th> Hora da Odd </th>
                <th> Apostadores </th>
            </tr>
        </thread>
        <tbody>
            {% for row in data %}
                <tr>
                    <td> {{ row.0 }} </td>
                    <td> {{ row.1 }} </td>
                    <td> {{ row.2 }} </td>
                    <td> {{ row.3 }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
<script>
    $(document).ready(function() {
        setInterval(function() {
            $.ajax({
                url: "{% url 'System_Post:my_url' %}",
                type: "GET",
                dataType: "html",
                success: function(data){
                    $("#my-table").html(data);
                }
            });
        }, 3000);
    });
        
</script>
