<!-- djangou_auth/accounts/template/system_list/profile_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="column">
    {% if page_obj.number > 1 %}
        <div class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class"pagination-previous{% if not page_obj.has_previous %} is-disabled{% endif %}"
                href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            <a class"pagination-next{% if not page_obj.has_next %} is-disabled{% endif %}"
                href="?page={{ page_obj.next_page_number }}">Proximo</a>
            <ul class="pagination-list">
                {% for page in page_obj.paginator.page_range %}
                <li>
                    <a class"pagination-link{% if not page_obj.number == page %} is-current{% endif %}"
                        href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    {% if page_obj %}
    {% for profile in profiles %}
    <div class="block">
        <div class="card">
            <a href="{% url 'System_Post:profile' profile.id %}">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{% static 'img/placeholder.png' %}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">
                                {{ profile.user.username }}
                            </p>
                            <p class="subtitle is-6">
                                @{{ profile.user.username|lower }}
                            </p>
                            <button class="button is-success is-rounded" name = "follow" value='follow'>
                                Follow
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}        
{% else %}
    <p> Não há perfis para exibir.</p>
{% endif %}
</div>
{% endblock content %}

