/* Define a cor de fundo do corpo de uma página */
body {
    background-color: #f1f1f1;
}
/* Define a cor do texto dos cabeçalhos */
h1, h2, h3 {
    color: #333;
}
/* Define a cor do texto dos links */
a {
    color: blue
}
/* Define o tamanho da fonte do texto principal */
p {
    font-size: 16px;
}
/* Define a largura máxima do container */
.container{
    max-width: 800px;
    margin: 0 auto;
}
/* Define um estilo de borda para botões */
button{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}
.my-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
}
.my-table td, .my-table th {
    border: 1px solid #ddd;
    padding: 8px;
}
.my-table th:nth-child(even){background-color: #f2f2f2;}
.my-table tr:hover {background-color: #ddd;}

.my-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

.my-cell {
    text-align: center;
}



